/* Estilos principais */
.headerLogoEscola {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0056b3;
  padding: 10px 10px;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: auto;
  max-width: 290px; /* Diminuí um pouco o logo */
  margin-right: 20px;
}

.menu {
  flex-grow: 1;
  display: flex;
  justify-content: center; /* Centraliza o menu */
}

.sublinhadoNav {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  width: 100%;
  max-width: 400px; /* Define uma largura máxima */
}

.link {
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: transform 0.3s ease; /* Animação suave */
}

.link:hover {
  color: rgb(255, 213, 0);
  transform: translateY(-2px); /* Move o item para cima */
  cursor: pointer;
}

/* Seção de notificações e login */
.right-section {
  display: flex;
  align-items: center;
}

.notificationNav {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.bi-bell {
  font-size: 1.5em;
  color: white;
}

.notificationNav p {
  margin-left: 5px;
  color: white;
}

.loginNav {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
}

.loginNav h1 {
  padding-left: 10px;
  font-size: 18px;
}

.loginNav ul {
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin: 0;
  list-style-type: none;
}

.loginNav ul li {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.sairLogout p :hover {
  color: rgb(255, 213, 0);
  transform: translateY(-2px); /* Move o item para cima */
  cursor: pointer;
}


/* Estilos responsivos para melhorar o layout em telas pequenas */
@media (max-width: 1024px) {
  .sublinhadoNav {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .headerLogoEscola {
    padding: 10px 15px;
  }

  .logo {
    max-width: 100px; /* Diminui o logo em telas menores */
  }

  .notificationNav, .loginNav {
    margin-right: 10px;
  }
}

@media (max-width: 768px) {
  .headerLogoEscola {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .menu {
    width: 100%;
    text-align: center;
  }

  .sublinhadoNav {
    flex-direction: column;
    width: 100%;
  }

  .right-section {
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
  }

  .logo {
    max-width: 150px;
  }

  .nomeLogin:hover {
.textb {
  color: black!important;
}


header,.headerLogoEscola{
    z-index: 999999999999999999999!important;
}

.toast-container {
    z-index: 1090; /* Ensure toast is above other elements */
  }
  .toast {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 0.25rem; 
  }
  .toast-header {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
    background-color: #e9ecef; 
    border-bottom: 1px solid #ddd;
  }
  .toast-body {
    padding: 0.75rem;
  }