<header class="headerLogoEscola" *ngIf="isLoggedIn" style="position: fixed; z-index: 9999999999999999999999999999999999999999999999999;">
  <div class="logo-container">
    <img src="logo.png" alt="Logo da Escola" class="logo">
  </div>

  <!-- Menu principal -->
  <nav class="menu">
    <ul class="sublinhadoNav"
      style="display: flex-center !important; justify-content: space-between !important; white-space: nowrap;">
      <li [routerLink]="'/acoes-educacionais'" class="link">AÇÕES EDUCACIONAIS</li>
      <li [routerLink]="'/dashboard'" class="link">DASHBOARD</li>
      <li [routerLink]="'/sobre'" class="link">SOBRE</li>
      <!-- <li [routerLink]="'/sugestoes'" class="link">SUGESTÕES</li> -->
      <!-- <li [routerLink]="'/app-cadastro'" class="link">CADASTRO</li> -->
    </ul>
  </nav>

  <!-- Notificações e Login -->
  <div class="right-section">
    <a [routerLink]="'/app-notificacoes'" class="notificationNav" style="padding-top: 5px;">
      <i class="bi bi-bell"></i>
      <p>{{ messages.length }}</p>
    </a>

    <div *ngIf="isLoggedIn" class="loginNav" style="padding-top: 5px;">
      <img [src]="profilePicUrl" alt="Foto de Perfil" class="profile-pic">
      <a [routerLink]="'/loginconfig'" class="nomeLogin" style="text-decoration: none; color: white;">{{ isLoggedUser
        }}</a>
      <ul>
        <a href="#" (click)="logout()" style="margin-left: 100px;" class="sairLogout">
          <li>Sair</li>
        </a>
      </ul>
    </div>
  </div>

  <div #toastContainer class="toast-container position-fixed top-0 end-0 p-3">
    <div [routerLink]="'/app-notificacoes'" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong style="color: black;" class="textb me-auto">Nova OS</strong>
        <button type="button" style="color: black;" class="textb btn-close" (click)="hideToast()" aria-label="Close"></button>
      </div>
      <div class="textb toast-body" style="color: black;">
        {{currentMsg}}
      </div>
    </div>
  </div>
</header>