<app-navbar style="position: fixed;min-height: 100px; min-width: 100%; z-index:9999999999999999999999999999999999999!important;"></app-navbar>
<div  style="padding-top: 30px;" class="container" >
  <div class="container" style="margin-top: 70px">
    <h1 style="display: flex; justify-content: left; padding-bottom: 5px">
      Lista de Cursos
    </h1>
    <div class="search-input flex-left">
      <label for="filtro">Filtrar por:</label>
      <select
        style="max-width: 180px; margin-bottom: 0"
        class="form-select"
        aria-label="Default select example"
        id="filtro-status"
        placeholder="Pesquisar por Status"
        [(ngModel)]="selectedStatus"
        (change)="filterCursos(selectedStatus)"
      >
        <option value="Todos">Todos</option>
        <option value="agendado">Agendado</option>
        <option value="andamento">Em andamento</option>
        <option value="finalizado">Finalizado</option>
      </select>
      <label for="filtro-ano">Ano:</label>
      <select
        style="max-width: 180px; margin-bottom: 0"
        class="form-select"
        aria-label="Default select example"
        id="filtro-ano"
        placeholder="Pesquisar por ano"
        [(ngModel)]="selectedYear"
      >
        <option value="todos">Todos</option>
        <option value="2023">2023</option>
        <option value="2024">2024</option>
        <option value="2025">2025</option>
      </select>
      <div class="flex-center">
        <input
          style="max-width: 90%; margin-bottom: 0"
          class="form-control form-control-md"
          type="text"
          [(ngModel)]="textoPesquisa"
          (change)="pesquisarCurso(textoPesquisa)"
          type="text"
          id="pesquisa"
          placeholder="Pesquisar por nome"
        />
        <button class="btn btn-outline" type="submit">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th class="sort" (click)="sortCursos('id')">N°</th>
          <th>Status</th>
          <th class="sort" (click)="sortCursos('nomeCurso')">Nome do Curso</th>
          <th>Datas</th>
          <th>Editar</th>
          <th>Excluir</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let curso of listaCursos">
          <td class="alturamin">{{ curso.id }}</td>
          <td class="alturamin" style="cursor: pointer">
            <i
              data-toggle="tooltip"
              data-placement="top"
              title="Agendado"
              *ngIf="curso.status == 'agendado'"
              class="bi bi-info-circle text-warning"
            ></i>
            <i
              data-toggle="tooltip"
              data-placement="top"
              title="Em Andamento"
              z
              *ngIf="curso.status == 'andamento'"
              class="bi bi-skip-end-circle text-primary"
            ></i>
            <i
              data-toggle="tooltip"
              data-placement="top"
              title="Finalizado"
              *ngIf="curso.status == 'finalizado'"
              class="bi bi-check-circle text-success"
            ></i>
          </td>
          <td class="alturamin">{{ curso.tituloEvento }}</td>
          <td class="alturamin">
            {{ curso.dataInicio | date : "dd/MM/yyyy" }} -
            {{ curso.dataFim | date : "dd/MM/yyyy" }}
          </td>
          <td class="alturamin">
            <button
              type="button"
              class="btn btn-primary"
              (click)="goToEdit(curso.id, true)"
            >
              Editar
            </button>
            <!-- <button
            type="button"
            class="btn btn-primary"
            (click)="idCursoSelecionado = curso.id; editando = true"
          >
            Editar
          </button> -->
          </td>
          <td class="flex-center alturamin">
            <a *ngIf="user.isCoordenador || user.isEstagiario" class="delete-link" (click)="os.id = curso.id; deletando = true"
              ><i class="bi bi-x-circle"></i
            ></a>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="container">
      <div class="add-course">
        <button
       *ngIf="user.isCoordenador || user.isEstagiario"   type="button"
          class="btn btn-primary"
          data-bs-toggle="button"
          (click)="goToEditId(getUltimoId2())"
        >
          Adicionar Curso
        </button>
        <!-- <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="button"
        (click)="openAddModal()"
      >
        Adicionar Curso
      </button> -->
        <div
          style="
            width: 300px;
            display: flex;
            flex-direction: column;
            align-items: start;
          "
        >
          <div class="column">
            <i class="bi bi-info-circle text-warning"></i> Agendado
          </div>
          <div class="column">
            <i class="bi bi-skip-end-circle text-primary"></i> Em Andamento
          </div>
          <div class="column">
            <i class="bi bi-check-circle text-success"></i> Finalizado
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="carregando"
    style="top: 50%; left: 50%; position: absolute"
    class="spinner-border"
    role="status"
  >
    <span class="visually-hidden">Loading...</span>
  </div>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modal sem Scroll</title>
  <style>
    .modal-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden; /* Remove o scroll da modal */
    }

    .modal-content {
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      max-height: 90%; /* Ajuste conforme necessário */
      overflow: hidden; /* Remove o scroll da modal */
    }

    .tirarScroll {
      display: flex;
      width: 100%;
      justify-content: space-around;
    }

    /* Remove as barras de rolagem para navegadores Webkit (Chrome, Safari, Opera) */
    .modal-content::-webkit-scrollbar {
      display: none;
    }

    /* Remove as barras de rolagem para IE e Edge */
    .modal-content {
      -ms-overflow-style: none; /* IE e Edge */
      scrollbar-width: none; /* Firefox */
    }
  </style>
</head>
<body>
  <div id="add-modal" class="modal-overlay" *ngIf="deletando">
    <div class="modal-content">
      <div
        *ngIf="carregando"
        style="top: 50%; left: 50%; position: absolute; z-index: 999"
        class="spinner-border"
        role="status"
      >
        <span class="visually-hidden">Loading...</span>
      </div>
      <h3>Tem certeza de que gostaria de excluir esse curso?</h3>
      <div class="tirarScroll">
        <button class="btn btn-primary" (click)="deletaCurso(os.id)">
          Confirmar
        </button>
        <button class="btn btn-danger" (click)="deletando = false">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</body>
</html>
